{% extends "base.html" %} {% block content %}
<h1 style="color: rgb(255, 155, 73); font-family: Raleway Medium, sans-serif;">Главная</h1>
<p class="" style="color: azure; font-size: 25px; font-family: Raleway Medium, sans-serif;">На этом сайте можно посмотреть основную статистику пойсков музыки в нашем
    <a href=" https://t.me/DJBobPlusOne " target="_blank" style="color: rgb(113, 255, 255); text-decoration: none; font-family: Raleway Medium, sans-serif;"><b>боте</b></a>! При регистрации в боте можно будет увидеть удобную историю найденой им музыки
    по вашим запросам.
</p>
<h3 style="color: rgb(255, 155, 73);">Разработчики</h3>
<p style="font-size: 25px;"><a href=" https://vk.com/aferistinoob " style="color: azure; text-decoration: none;" target="_blank">MaxxAferist</a>
    <br>
    <a href="https://vk.com/id272173894 " style="color: azure; text-decoration: none;" target="_blank">Artem-Rome</a>
    <br>
    <a href="https://vk.com/vanya_v1 " style="color: azure; text-decoration: none;" target="_blank">Dublator</a>
</p>
{% endblock %}